/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  background-color: #434343;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.about{

}
.about__container{
  max-width: 823px;
  margin: 15px auto;
}
.about__top{
  margin: 0 0 50px 0;
}
.about__title{
  margin: 0 0 30px 0;
}
.about__text{
  color: #84899c;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
}
.about__bottom{
  display: flex;
  margin: 0 -15px;
}
.about__column{
  flex: 0 0 33.333%;
  padding: 0 15px;
}
.title{
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  color: aliceblue;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
.title:after{
  content: '';
  position: absolute;
  width: 100px;
  bottom: 0;
  height: 1px;
  background-color: #ffffff;
  margin: 0 0 0 -135px;
}

.item-about{

}
.item-about__icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title{
  color: #84899c;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 10px auto;

}
.item-about__text{
  color: #84899c;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;

}



































































