*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display:none}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6,p,h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body{
  background-color: #090404;
}
.block{
  background-color: #0ae4a4;
  padding: 40px;
  text-align: center;
}
.block__link{
  color: #0899af;
  font-size: 30px;
  font-family: fantasy;
  background-color: #000000;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #707070;
  box-shadow: 10px 10px 20px 10px rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}
.column__item{
  background-color: #bcc0cd;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
.column{
  border: 10px solid #b3afaf;
}
.container{
  display: flex;
  justify-content: flex-end;
  border: 10px solid #7e7c7c;
}
.container1{
  display: flex;
  justify-content: space-between;
  border: 10px solid #7e7c7c;
}
.container2{
  display: flex;

  border: 10px solid #7e7c7c;
}
.container3{
  display: flex;
  align-items: center;
  border: 10px solid #7e7c7c;
}
.container4{
  display: flex;
  align-items: start;
  border: 10px solid #7e7c7c;
}
.container5{
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #7e7c7c;
}
.larger__text{
  font-size: 60px;
  padding: 0 180px 0 180px;
}
.container6{
  display: flex;
  align-items: center;
  border: 10px solid #7e7c7c;
}
.column_1{
  align-self: flex-start;
}
.column_3{
  align-self: flex-end;
}
.container7{
  display: flex;
  border: 10px solid #7e7c7c;
}
.column_4{
  order: 3;
}
.column_5{
  order: 2;
}
.column_6{
  order: 1;
}




































